<!--
<form accept-charset="UTF-8" action="/users" method="post" local: true>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="email">Email:</label>
  <input type="email" name="email" required><br><br>
    <label for="password">Password:</label>
  <input type="password" name="password" required><br><br>
  <input type="submit" value="Submit">
</form>
-->

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :username, 'Username' %>
  <%= f.text_field :username %>
  <br><br>
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email%>
  <br><br>
  <%= f.label :password, 'Password' %>
  <%= f.password_field :password %>
  <%= f.submit 'Submit' %>
  <% end %>